[*.cs]

# IDE1006: Naming Styles
dotnet_diagnostic.CS8600.severity=none
dotnet_diagnostic.IDE1006.severity=none
dotnet_diagnostic.CS8618.severity=none
dotnet_diagnostic.CS8765.severity=none
dotnet_diagnostic.CS8601.severity=none
dotnet_diagnostic.CS8602.severity=none
dotnet_diagnostic.CS8603.severity=none
dotnet_diagnostic.CS8604.severity=none
dotnet_diagnostic.CS8625.severity=silent
dotnet_diagnostic.CS8634.severity=silent
dotnet_diagnostic.CS8032.severity=silent
dotnet_diagnostic.CS8767.severity=silent
dotnet_diagnostic.CS8768.severity=silent
dotnet_diagnostic.CS8714.severity=silent
dotnet_diagnostic.CS8716.severity=silent
dotnet_diagnostic.CS1061.severity=silent
dotnet_diagnostic.CS0168.severity=silent